@font-face {
  font-family: GTWalsheimPro;
  src: url(/fonts/GTWalsheimPro-CondensedBlack/GTWalsheimPro-CondensedBlack.ttf); /* IE9 Compat Modes */
  src: url(/fonts/GTWalsheimPro-CondensedBlack/GTWalsheimPro-CondensedBlack.ttf?iefix)
      format("embedded-opentype") /* IE6-IE8 */,
    url(/fonts/GTWalsheimPro-CondensedBlack/GTWalsheimPro-CondensedBlack.woff)
      format("woff") /* Super Modern Browsers */,
    url(/fonts/GTWalsheimPro-CondensedBlack/GTWalsheimPro-CondensedBlack.woff2)
      format("woff2") /* Pretty Modern Browsers */,
    url(/fonts/GTWalsheimPro-CondensedBlack/GTWalsheimPro-CondensedBlack.ttf)
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Sintony-Regular;
  src: url(/fonts/Sintony/Sintony-Regular.ttf); /* IE9 Compat Modes */
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: white;
}
body {
  font-family: "Sintony-Regular, Segoe UI, sans-serif";
  font-size: 1.6rem;
  background: "linear-gradient(120deg, #02000f,#040030)";
  color: "hsl(204,23.8%,95.9%)";
  cursor: default;
  max-width: 1700px;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "GTWalsheimPro, Segoe UI, sans-serif";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
